agora-token-builder
asgiref
certifi
charset-normalizer
celery
Django==4.2.3
django-jazzmin
djangorestframework
gunicorn
idna
Pillow
psycopg2-binary
pytz
requests
sqlparse
urllib3
whitenoise
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
django-extensions